.s3-img-upload-wrapper{
    margin: auto;
    margin-top: 24px;
    height: 400px;
    width: 305px;
    border: 1px solid lightgrey;
}
.add-photos-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.add-photos-btn{
    padding: 12px 24px;
    color: rgb(0, 30, 120);
    border: 1px solid rgb(0, 30, 120);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.add-photos-btn:hover {
    color: white;
    background-color:rgb(0, 30, 120);
    cursor: pointer;
}

.show-multi-imgs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.show-multi-imgs .photo-box{
    flex: 0 0 100px;
    position: relative;
    height: 100px;
    border: 1px solid lightgrey;
}
.show-multi-imgs .photo-box .delete-btn{
    position: absolute;
    top:0px;
    right:0px;
}
.show-multi-imgs .photo-box .delete-btn:hover{
    cursor: pointer;
}

.file-upload-label{
    flex: 0 0 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
}
.file-upload-label:hover{
    cursor: pointer;
}